
import java.time.*
Date now = new Date()

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    debug = false
    help = false
    cA = "#0080FF"
    cB = "#FF8000"
    transition = 1e-12
    relative = true
    cross_obj = false
    A = 'N2'
    B = 'CB4856'
    email = null
}

report {
    enabled = true
    file = "pipeline_info/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "pipeline_info/${params.timestamp}_timeline.html"
}

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
    local { includeConfig 'conf/local.config' }
    quest { includeConfig 'conf/quest.config' }
}

process {
    withLabel: annotation {
        container = "andersenlab/annotation:202203071920250e7671"
    }

    withLabel: trim {
        container = 'andersenlab/trim-fq:2022030115492810c8da'
    }

    withLabel: R {
        container = 'andersenlab/r_packages:v0.7'
    }

    withLabel: bam {
        container = "andersenlab/bam_toolbox:240726"
    }

    withLabel: vcfkit {
        container = "andersenlab/vcf-kit:20200822175018b7b60d"
    }
}

