profiles {
    travis {
        docker {
            enabled = true
            temp = 'auto'
            runOptions = '-u `id -u $USER`'
        }
        cores = 2
        echo = true

    }

}


timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.tsv"
}