
import java.time.*
Date now = new Date()

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    debug = false
    help = false
    cA = "#0080FF"
    cB = "#FF8000"
    transition = 1e-12
    relative = true
    cross_obj = false
    A = 'N2'
    B = 'CB4856'
    email = null
}

report {
    enabled = true
    file = "pipeline_info/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "pipeline_info/${params.timestamp}_timeline.html"
}

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
    local { includeConfig 'conf/local.config' }
    quest { includeConfig 'conf/quest.config' }
}

process.container = 'docker://andersenlab/nil-ril-nf'

