params {
    baseDir = '/projects/b1042/AndersenLab'
    workDir = '/projects/b1042/AndersenLab/work'
    dataDir = '/projects/b1042/AndersenLab/data'
    softwareDir = '/projects/b1042/AndersenLab/software'
    gcp = false
    genome = "WS283"
    tmpdir = "/projects/b1042/AndersenLab/tmp"
}

process {
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
    maxRetries=3
    cpus=4
}

singularity {

    enabled = true
    autoMounts = true

    cacheDir = "/projects/b1059/singularity/"
    pullTimeout = '20 min'
}
