params {
    quest = true
    genome = "WS245"
    tmpdir = "/projects/b1042/AndersenLab/tmp"
}

process {
    container = 'docker://andersenlab/nil-ril-nf'
    executor = 'slurm'
    queue = 'genomicsguestA'
    clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
    maxRetries=3
}

singularity {

    enabled = true
    autoMounts = true

    cacheDir = "/projects/b1059/workflows/nil-ril-nf/singularity_cache"
    pullTimeout = '20 min'
}
